@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#FFF9F0] text-[#5D4037] antialiased selection:bg-[#82A07D] selection:text-white;
    margin: 0;
    overflow-x: hidden;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #D1CEC7;
  border-radius: 10px;
}
